{{ define "main" }}

{{ $section := .Section }}
{{ $products := slice }}

{{ range $page := where .Site.RegularPages "Section" $section }}
  {{ $productID := $page.File.ContentBaseName }}
  {{ if isset site.Data.products $productID }}
    {{ $products = $products | append $productID }}
  {{ end }}
{{ end }}

{{ $sortedProducts := slice }}
{{ range $productID := $products }}
  {{ if isset site.Data.products $productID }}
    {{ $product := index site.Data.products $productID }}
    {{ $sortedProducts = $sortedProducts | append (dict "id" $productID "weight" (default 999 $product.weight)) }}
  {{ end }}
{{ end }}
{{ $sortedProducts = sort $sortedProducts "weight" }}
{{ $products = slice }}
{{ range $item := $sortedProducts }}
  {{ $products = $products | append $item.id }}
{{ end }}
	{{ $totalProducts := len $products }}
{{ $rowCount := div (add $totalProducts 1) 2 }}

{{ range $rowIndex := seq 1 $rowCount }}
<div id="product-row-{{ $rowIndex }}" class="container-component style-5 product-row columns">
	<div class="wrapper">
		<div class="inner justify-left">
			{{ $product1Index := sub (mul $rowIndex 2) 2 }}
			{{ $product2Index := sub (mul $rowIndex 2) 1 }}
			
			{{ if lt $product1Index $totalProducts }}
				{{ $product1ID := index $products $product1Index }}
{{ if and $product1ID (isset site.Data.products $product1ID) }}
{{ $product1 := index site.Data.products $product1ID }}
{{ partial "product-card.html" (dict "product" $product1 "id" $product1ID "wholesaleUrl" site.Params.wholesaleFormUrl) }}
{{ end }}
			{{ end }}
			
			{{ if lt $product2Index $totalProducts }}
			{{ $product2ID := index $products $product2Index }}
{{ if and $product2ID (isset site.Data.products $product2ID) }}
{{ $product2 := index site.Data.products $product2ID }}
{{ partial "product-card.html" (dict "product" $product2 "id" $product2ID "wholesaleUrl" site.Params.wholesaleFormUrl) }}
{{ end }}
			{{ end }}
		</div>
	</div>
</div>
{{ end }}

{{ end }}