{{ define "main" }}

{{ $section := .Section }}
{{ $products := slice }}

{{ if eq $section "exterior" }}
  {{ $products = slice "exterior-window-sticker-blank" "exterior-window-sticker-custom" }}
{{ else if eq $section "interior" }}
  {{ $products = slice "interior-window-sticker-blank" "interior-window-sticker-custom" }}
{{ end }}

	<div id="product-row-1" class="style5 product-row container columns">
		<div class="wrapper">
			<div class="inner">
				{{ range $rowIndex, $row := (slice 0 2 4 6 8) }}

					{{ $product1Index := $row }}
					{{ $product2Index := add $row 1 }}
					
					{{ if lt $product1Index (len $products) }}
					{{ $product1ID := index $products $product1Index }}
					{{ $product1 := index site.Data.products $product1ID }}
					{{ partial "product-card.html" (dict "product" $product1 "id" $product1ID) }}
					{{ end }}
					
					{{ if lt $product2Index (len $products) }}
					{{ $product2ID := index $products $product2Index }}
					{{ $product2 := index site.Data.products $product2ID }}
					{{ partial "product-card.html" (dict "product" $product2 "id" $product2ID) }}
					{{ end }}
					
				{{ end }}
			</div>
		</div>
	</div>

{{ end }}
