{{ define "main" }}

<section id="exterior-custom-section">
	<div id="container06" class="style3 container columns">
		<div class="wrapper">
			<div class="inner">
				<div>
					<div id="image02" class="style5 image">
						<a href="https://akdealerservices.com/" class="frame"><img src="/images/image02.jpg" alt="akdealerservices"
								title="akdealerservices.com" /></a>
					</div>
					<div id="gallery04" class="style5 productGallery gallery">
						<div class="inner">
							<ul>
								<li>
									<span class="frame"><img src="/images/gallery04/868f9749.jpg"
											alt="Exterior Window Sticker Custom Blank" /></span>
								</li>
								<li>
									<a href="#exterior" class="thumbnail n02"><span class="frame"><img
													src="/images/gallery04/6ff23710.jpg" alt="Exterior Window Sticker Custom Blank" /></span></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div>
					<h2 id="text12" class="style12">8.5 x 11&quot;</h2>
					<h2 id="text15" class="style1">Exterior Window Sticker <strong>Custom</strong></h2>
					<h2 id="text16" class="style3">This form has peel off boarder on all four sides to be adhered to the window on
						the outside of the vehicle or inside. Laser compatible and can be printed by you or your information
						pre-printed by us, front or back</h2>
					<div id="list01" class="style3 list">
						<ul>
							<li>
								<p>Size 8.5 x 11</p>
							</li>
							<li>
								<p>Waterproof material</p>
							</li>
							<li>
								<p>Highly visible</p>
							</li>
							<li>
								<p>Fade resistant</p>
							</li>
							<li>
								<p>Die cut on back</p>
							</li>
							<li>
								<p>Full color printing available</p>
							</li>
							<li>
								<p>No set up charge, we can match any design</p>
							</li>
							<li>
								<p>1-part, self-adhesive, 4 sides</p>
							</li>
						</ul>
					</div>
					<h2 id="text21" class="style11">$0.54<span style="color: #03A4FF">*</span></h2>
					<p id="text39">Per 1 blank (1000 min)</p>
					<ul id="buttons02" class="style5 buttons">
						<li>
							<a href="https://akdealerservices.com/product/1000535-exterior-window-sticker-blank" class="button n01"
								role="button"><svg aria-labelledby="buttons02-icon-1-title">
									<title id="buttons02-icon-1-title">Cart</title>
									<use xlink:href="{{ "/icons.svg#cart" | relURL }}"></use>
								</svg><span class="label">Buy on AK Dealer Services</span></a>
						</li>
						<li>
							<a href="#" class="button n02" role="button"><svg aria-labelledby="buttons02-icon-2-title">
									<title id="buttons02-icon-2-title">Cart</title>
									<use xlink:href="{{ "/icons.svg#cart" | relURL }}"></use>
								</svg><span class="label">Buy on Amazon</span></a>
						</li>
						<li>
							<a href="#wholesale" class="button n03" role="button"><svg aria-labelledby="buttons02-icon-3-title">
									<title id="buttons02-icon-3-title">Cart</title>
									<use xlink:href="{{ "/icons.svg#cart" | relURL }}"></use>
								</svg><span class="label">Wholesale Inquiry</span></a>
						</li>
					</ul>
					<p id="text49" class="style13">* Best Price for AK Dealer Services</p>
					<hr id="divider07" class="style3">
				</div>
			</div>
		</div>
	</div>
</section>

{{ end }}
