{{ define "main" }}

{{ $productID := .Params.product_id | default "exterior-window-sticker-custom" }}
{{ $product := index site.Data.products $productID }}

<section id="{{ $product.id }}-section">
	<div id="container06" class="style3 container columns">
		<div class="wrapper">
			<div class="inner">
				<div>
					<div id="image02" class="style5 image">
						<a href="https://akdealerservices.com/" class="frame"><img src="/images/image02.jpg" alt="akdealerservices"
								title="akdealerservices.com" /></a>
					</div>
					<div id="gallery04" class="style5 productGallery gallery">
						<div class="inner">
							<ul>
								{{ range $product.images }}
								<li>
									{{ if .primary }}
									<span class="frame"><img src="{{ .src }}" alt="{{ .alt }}" /></span>
									{{ else }}
									<a href="#{{ $product.id }}" class="thumbnail n02"><span class="frame"><img src="{{ .src }}" alt="{{ .alt }}" /></span></a>
									{{ end }}
								</li>
								{{ end }}
							</ul>
						</div>
					</div>
				</div>
				<div>
					<h2 id="text12" class="style12">{{ $product.size }}</h2>
					<h2 id="text15" class="style1">{{ $product.title | safeHTML }}</h2>
					<h2 id="text16" class="style3">{{ $product.description }}</h2>
					<div id="list01" class="style3 list">
						<ul>
							{{ range $product.features }}
							<li>
								<p>{{ . }}</p>
							</li>
							{{ end }}
						</ul>
					</div>
					<h2 id="text21" class="style11">${{ $product.price }}<span style="color: #03A4FF">*</span></h2>
					<p id="text39">{{ $product.price_note }}</p>
					<ul id="buttons02" class="style5 buttons">
						{{ range $product.purchase_links }}
						<li>
							<a href="{{ .url }}" class="button {{ if .primary }}n01{{ else if eq .name "Buy on Amazon" }}n02{{ else }}n03{{ end }}" role="button">
								<svg aria-labelledby="buttons02-icon-{{ .name | urlize }}-title">
									<title id="buttons02-icon-{{ .name | urlize }}-title">{{ .icon | title }}</title>
									<use xlink:href="{{ "/icons.svg#" | relURL }}{{ .icon }}"></use>
								</svg>
								<span class="label">{{ .name }}</span>
							</a>
						</li>
						{{ end }}
					</ul>
					<p id="text49" class="style13">{{ $product.best_price_note }}</p>
					<hr id="divider07" class="style3">
				</div>
			</div>
		</div>
	</div>
</section>

{{ end }}
