/* @tailwind base; */

.visible {
  visibility: visible
}

.collapse {
  visibility: collapse
}

.absolute {
  position: absolute
}

.left-0 {
  left: 0px
}

.top-0 {
  top: 0px
}

.block {
  display: block
}

.contents {
  display: contents
}

.hidden {
  display: none
}

.h-full {
  height: 100%
}

.w-full {
  width: 100%
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.no-underline {
  text-decoration-line: none
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.hover\:text-\[\#2ec0ff\]:hover {
  --tw-text-opacity: 1;
  color: rgb(46 192 255 / var(--tw-text-opacity, 1))
}