{{/*
  Партиал: get-product-data.html
  Назначение: Получение данных товара из единого источника
  
  Использование:
    {{ $productData := partial "get-product-data.html" . }}
  
  Возвращает:
    - dict с полями:
      - product: данные товара из site.Data.products
      - productID: ID товара (имя файла без расширения)
      - pageParams: параметры страницы
  
  Логика приоритета:
    - Параметры страницы (front matter) имеют приоритет над данными из YAML
    - Если параметр не указан в front matter, используется значение из YAML
*/}}

{{ $pageParams := .Page.Params }}
{{ $productID := "" }}

{{/* Determine product ID - prefer product_key from front matter */}}
{{ if isset $pageParams "product_key" }}
  {{/* Use product_key from front matter (for state pages) */}}
  {{ $productID = $pageParams.product_key }}
{{ else if eq .File.ContentBaseName "index" }}
  {{/* For bundle pages without product_key, extract from folder name */}}
  {{ $folderName := path.Base .File.Dir }}
  {{ $parts := split $folderName "-" }}
  {{ if ge (len $parts) 2 }}
    {{/* Join all parts except the first (state) */}}
    {{ $productID = delimit (after 1 $parts) "-" }}
  {{ else }}
    {{ $productID = $folderName }}
  {{ end }}
{{ else }}
  {{/* For direct product pages, use filename */}}
  {{ $productID = .File.ContentBaseName }}
{{ end }}

{{ $product := dict }}
{{ if isset site.Data.products $productID }}
  {{ $product = index site.Data.products $productID }}
{{ end }}

{{ return (dict 
  "product" $product 
  "productID" $productID 
  "pageParams" $pageParams
) }}
