<header id="header">
  <div id="container04" class="container columns">
    <div class="wrapper">
      <div class="inner">
        
        <div>
          <div id="image06" class="image full">
            {{ if not $.IsHome }}
            <a class="frame" href="{{ .Site.BaseURL | absURL }}">
              {{- else }}
              <div class="frame">
                {{- end }}
                <img src="{{ $.Site.Params.logo | relURL }}" alt="{{ $.Site.Title }} Logo">
                {{- if not $.IsHome }}
            </a>
            {{- else }}
          </div>
          {{- end }}
        </div>
      </div>
      
      <div>
        <div id="navSticky" class="pt-5 md:pt-0">
        <ul id="links02" class="style1 main-nav links">
          {{ range .Site.Params.mainNav }}
            <li class="{{ .class }}">
              <a href="{{ .url | relURL }}">{{ .name }}</a>
            </li>
          {{ end }}
        </ul>
      </div>
      </div>

      <div>
        <ul id="buttons06" class="style9 buttons">
          <li>
            <a href="{{ .Site.BaseURL | absURL }}#about" class="button n01" role="button">About</a>
          </li>
          <li>
            <a href="#contacts" class="button n02" role="button">Get in touch</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>