<header id="header">
  <div id="container04" class="container-component instance-4 columns">
    <div class="wrapper">
      <div class="inner">
        
        <div>
          <div id="image06" class="image-component instance-6 full">
            {{ if not $.IsHome }}
            <a class="frame" href="{{ .Site.BaseURL | absURL }}">
              {{- else }}
              <div class="frame">
                {{- end }}
                {{ $logo := resources.Get $.Site.Params.logo }}
                {{ if $logo }}
                  {{/* Generate responsive logo sizes */}}
                  {{ $logoSmall := $logo.Resize "200x webp q85" }}
                  {{ $logoMedium := $logo.Resize "400x webp q85" }}
                  {{ $logoLarge := $logo.Resize "662x webp q85" }}
                  <img 
                    src="{{ $logoLarge.RelPermalink }}"
                    srcset="{{ $logoSmall.RelPermalink }} 200w,
                            {{ $logoMedium.RelPermalink }} 400w,
                            {{ $logoLarge.RelPermalink }} 662w"
                    sizes="(max-width: 480px) 150px, (max-width: 980px) 250px, 373px"
                    alt="{{ $.Site.Title }} Logo" 
                    width="{{ $logoLarge.Width }}"
                    fetchpriority="high"
                    height="{{ $logoLarge.Height }}">
                {{ else }}
                  <img src="{{ $.Site.Params.logo | relURL }}"
                    alt="{{ $.Site.Title }} Logo"
                    width="662"
                    height="120">
                {{ end }}
                {{- if not $.IsHome }}
            </a>
            {{- else }}
          </div>
          {{- end }}
        </div>
      </div>
      
      <div>
        <div id="navSticky" class="pt-5 md:pt-0">
        <ul id="links02" class="links-component instance-2 style-1 main-nav">
          {{ range .Site.Params.mainNav }}
            {{ $navURL := .url | relURL }}
            {{ $isActive := or (eq $navURL $.Page.RelPermalink) (and (ne $navURL "/") (hasPrefix $.Page.RelPermalink $navURL)) }}
            {{ $classes := slice }}
            {{ with .class }}
              {{ $classes = $classes | append . }}
            {{ end }}
            {{ if $isActive }}
              {{ $classes = $classes | append "active" }}
            {{ else }}
              {{ $classes = $classes | append "inactive" }}
            {{ end }}
            <li class="{{ delimit $classes " " }}">
              <a href="{{ $navURL }}">{{ .name }}</a>
            </li>
          {{ end }}
        </ul>
      </div>
      </div>

      <div>
        <ul id="buttons06" class="buttons-component instance-6 style-9">
          <li>
            <a href="{{ .Site.BaseURL | absURL }}#about" class="n01" role="button">About</a>
          </li>
          <li>
            <a href="#contacts" class="n02" role="button">Get in touch</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
