{{ $product := .product }}
{{ $productID := .id }}
{{ $section := cond (hasPrefix $productID "exterior") "exterior" (cond (hasPrefix $productID "interior") "interior" "") }}
<div>
	<h2 id="text10" class="style5">
		{{ $product.title | markdownify }}
		{{ if $product.size }}<span style="color: #bbbbbb" class="text-nowrap"> – {{ $product.size }}</span>{{ end }}
	</h2>
	<div id="{{ $productID }}-slideshow" class="style1 productSlider slideshow" oncontextmenu="return false;"
		ondragstart="return false;">
		<div class="content">
			<div class="bg slideshow-background fade">
				{{ range $imgIndex, $image := $product.images }}
				{{ $imgResource := resources.Get $image.src }}
				{{ $processedImg := "" }}
				{{ if $imgResource }}
					{{ $processedImg = $imgResource.Permalink }}
				{{ else }}
					{{ $processedImg = $image.src | relURL }}
				{{ end }}
				<div role="img" aria-label="{{ $image.alt | default $product.title }}" class="{{ if eq $imgIndex 0 }}visible top initial{{ end }}"
				style="background-image: url(&quot;{{ $processedImg }}&quot;); background-position: center center; background-repeat: no-repeat; background-size: contain;">
					<a class="absolute h-full w-full left-0 top-0" href="{{ $productID }}"></a>
				</div>
				{{ end }}
			</div>
			<div class="nav next"></div>
			<div class="nav previous"></div>
		</div>
	</div>
	<p class="style3"><strong>${{ $product.price }}</strong>&ensp;{{ $product.price_note }}</p>
	<ul id="buttons02" class="style5 buttons product-buttons">
		{{ $defaultButtons := slice "Buy on AK Dealer Services" "Buy on Amazon" "Wholesale Inquiry" }}
		{{ range $linkIndex, $link := $product.purchase_links }}
		{{ if $link.url }}
		<li>
			<a href="{{ $link.url }}" class="button n0{{ add $linkIndex 1 }}"
				role="button"><svg aria-labelledby="product-icon-{{ $productID }}-{{ add $linkIndex 1 }}-title">
					<title id="product-icon-{{ $productID }}-{{ add $linkIndex 1 }}-title">Cart</title>
					<use xlink:href="{{ "/icons.svg#cart" | relURL }}"></use>
				</svg><span class="label">{{ if $link.name }}{{ $link.name }}{{ else }}{{ index $defaultButtons $linkIndex }}{{ end }}</span></a>
		</li>
		{{ end }}
		{{ end }}
		<li>
			<a href="{{ .wholesaleUrl }}" class="button n03" role="button">
				<svg aria-labelledby="buttons16-icon-wholesale-title">
					<title id="buttons16-icon-wholesale-title">Wholesale Inquiry</title>
					<use xlink:href="{{ "/icons.svg#cart" | relURL }}"></use>
				</svg>
				<span class="label">Wholesale Inquiry</span>
			</a>
		</li>
	</ul>
	<p id="text61" class="style3" style="opacity: 1; transform: none;"><a href="/{{ $section }}/{{ $productID }}/">More details</a></p>
</div>
