{{ $product := .product }}
{{ $productID := .id }}
{{ $section := cond (hasPrefix $productID "exterior") "exterior" (cond (hasPrefix $productID "interior") "interior" "") }}
<div>
	<h2 id="text10" class="text-component instance-10 style-5">
		{{ $product.title | markdownify }}
		{{ if $product.size }}<span style="color: #bbbbbb" class="text-nowrap"> – {{ $product.size }}</span>{{ end }}
	</h2>
	<div id="{{ $productID }}-slideshow" class="slideshow-component instance-{{ $productID }} style-1 productSlider slideshow" oncontextmenu="return false;"
		ondragstart="return false;">
		<div class="content">
			<div class="bg slideshow-background fade">
				{{ range $imgIndex, $image := $product.images }}
				{{ $imgResource := resources.Get $image.src }}
				{{ $processedImg := "" }}
				{{ if $imgResource }}
					{{ $filter := images.UnsharpMask 0.5 0.5 0 }}
					{{ $processed := $imgResource.Filter $filter }}
					{{ $final := $processed.Resize "900x webp" }}
					{{ $processedImg = $final.RelPermalink }}
				{{ else }}
					{{ $processedImg = $image.src | relURL }}
				{{ end }}
				<div role="img" aria-label="{{ or $image.alt $product.title | markdownify | plainify }}" class="{{ if eq $imgIndex 0 }}visible top initial{{ end }}"
					style="background-image: url(&quot;{{ $processedImg }}&quot;); background-position: center center; background-repeat: no-repeat; background-size: contain;">
					<a class="absolute h-full w-full left-0 top-0" href="/{{ $section }}/{{ $productID }}/"></a>
				</div>
				{{ end }}
			</div>
			<div class="nav next"></div>
			<div class="nav previous"></div>
		</div>
	</div>
	<p class="text-component style-3"><strong>${{ $product.price }}</strong>&ensp;{{ $product.price_note }}</p>
	<ul id="buttons02" class="buttons-component instance-2 style-5 product-buttons">
		{{ $defaultButtons := slice "Buy on AK Dealer Services" "Buy on Amazon" "Wholesale Inquiry" }}
		{{ range $linkIndex, $link := $product.purchase_links }}
		{{ if $link.url }}
		<li>
			<a href="{{ $link.url }}" class="n0{{ add $linkIndex 1 }}" role="button">
				<svg aria-labelledby="product-icon-{{ $productID }}-{{ add $linkIndex 1 }}-title">
					<title id="product-icon-{{ $productID }}-{{ add $linkIndex 1 }}-title">Cart</title>
					<use xlink:href="{{ "/icons.svg#cart" | relURL }}"></use>
				</svg>
				<span class="label">{{ if $link.name }}{{ $link.name }}{{ else }}{{ index $defaultButtons $linkIndex }}{{ end }}</span>
			</a>
		</li>
		{{ end }}
		{{ end }}
		<li>
			<a href="{{ .wholesaleUrl }}" class="n03" role="button">
				<svg aria-labelledby="buttons16-icon-wholesale-title">
					<title id="buttons16-icon-wholesale-title">Wholesale Inquiry</title>
					<use xlink:href="{{ "/icons.svg#cart" | relURL }}"></use>
				</svg>
				<span class="label">Wholesale Inquiry</span>
			</a>
		</li>
	</ul>
	<p id="text61" class="text-component instance-61 style-3">
		<a href="/{{ $section }}/{{ $productID }}/">More details</a>
	</p>
</div>
