<div id="container03" class="style1 container columns">
  <div class="wrapper">
    <div class="inner">
      {{ range $index, $column := .Params.features.columns }}
      <div>
        {{ $featureCount := len $column }}
        {{ range $featureIndex, $feature := $column }}
        {{ if $feature.image }}
        <div id="image{{ add 18 $index }}" class="style6 image">
          <a href="{{ $feature.link | default "#" | relURL }}" class="frame">
            {{ $featureImage := resources.Get $feature.image }}
            {{ with $featureImage }}
              {{ $processed := .Fill "600x390 webp picture Center" }}
              <img src="{{ $processed.RelPermalink }}" alt="{{ $feature.heading }}" loading="lazy">
            {{ end }}
          </a>
        </div>
        {{ end }}
        <h2 id="text{{ add 29 $index }}" class="style2">{{ $feature.heading }}</h2>
        <p id="text{{ add 30 $index }}" class="style3">{{ $feature.text | safeHTML }}</p>
        {{ if ne (add $featureIndex 1) $featureCount }}
        <hr id="divider{{ add 4 $index }}" class="style1">
        {{ end }}
        {{ end }}
      </div>
      {{ end }}
    </div>
  </div>
</div>
<hr id="divider05" class="style3">
