{{/* --- Hero/Product Categories Section --- */}}
{{ with .Params.hero }}
<div id="container07" class="container-component instance-7 columns">
  <div class="wrapper">
    <div class="inner">
      {{/* --- Exterior Column --- */}}
      {{ with .exterior }}
        {{ partial "home/hero-column.html" (dict 
          "data" . 
          "type" "exterior" 
          "ids" (dict 
            "image" "image04" 
            "gallery" "gallery03" 
            "button" "buttons11"
          )
        ) }}
      {{ end }}
      
      {{/* --- Interior Column --- */}}
      {{ with .interior }}
        {{ partial "home/hero-column.html" (dict 
          "data" . 
          "type" "interior" 
          "ids" (dict 
            "image" "image03" 
            "gallery" "gallery02" 
            "button" "buttons03"
          )
        ) }}
      {{ end }}
    </div>
  </div>
</div>
<hr class="divider-component instance-7 style-2">
{{ end }}
