{{/* --- Hero/Product Categories Section --- */}}
{{ with .Params.hero }}
<div id="container07" class="container columns">
  <div class="wrapper">
    <div class="inner">
      {{/* --- Exterior Column --- */}}
      {{ with .exterior }}
      <div>
        {{ with .button }}<h1 class="style1"><a href="{{ .link | default "#" | relURL }}">{{ $.Params.hero.exterior.heading | safeHTML }}</a></h1>{{ end }}
        {{ with .description }}<p class="style3">{{ . }}</p>{{ end }}
        {{ with .image }}
        <div id="image04" class="style2 image">
          {{ with $.Params.hero.exterior.button }}<a href="{{ .link | default "#" | relURL }}" class="frame">{{ end }}
          {{ $heroImage := resources.Get . }}
          {{ with $heroImage }}
            {{ $processed := .Fill "1200x636 webp picture Center" }}
            <img src="{{ $processed.RelPermalink }}" alt="{{ $.Params.hero.exterior.heading | plainify }}" loading="lazy">
          {{ end }}
          {{ with $.Params.hero.exterior.button }}</a>{{ end }}
        </div>
        {{ end }}
        {{ with .gallery }}
        <div id="gallery03" class="style3 productGallery gallery">
          <div class="inner">
            <ul>
              {{ range $index, $item := . }}
              <li>
                <a href="{{ $item.link | default "#" | relURL }}" class="thumbnail n{{ printf "%02d" (add $index 1) }}"><span class="frame">
                  {{ $image := resources.Get $item.image }}
                  {{ with $image }}
                    {{ $filter := images.UnsharpMask .5 .5 0 }}
                    {{ $processed := $image.Filter $filter }}
                    {{ $final := $processed.Fill "568x568 webp picture Center" }}
                    <img src="{{ $final.RelPermalink }}" alt="{{ $item.alt }}" loading="lazy">
                  {{ end }}
                </span></a>
                <div class="caption">
                  <p>
                    <a class="no-underline hover:text-[#2ec0ff]" href="{{ $item.link | default "#" | relURL }}">{{ $item.caption }}</a>
                  </p>
                </div>
              </li>
              {{ end }}
            </ul>
          </div>
        </div>
        {{ end }}
        {{ with .button }}
        <ul id="buttons11" class="style2 buttons">
          <li>
            <a href="{{ .link | default "#" | relURL }}" class="button n01" role="button">
              <svg aria-labelledby="buttons11-icon-1-title">
                  <title id="buttons11-icon-1-title">{{ $.Params.hero.exterior.button.text | plainify }}</title>
                  <use xlink:href="{{ "/icons.svg#arrow-right-light" | relURL }}"></use>
              </svg>
              <span class="label">{{ .text }}</span>
            </a>
          </li>
        </ul>
        {{ end }}
        <hr id="divider02" class="style3" data-visibility="desktop">
      </div>
      {{ end }}
      {{/* --- Interior Column --- */}}
      {{ with .interior }}
      <div>
        {{ with .button }}<h2 class="style1"><a href="{{ .link | default "#" | relURL }}">{{ $.Params.hero.interior.heading | safeHTML }}</a></h2>{{ end }}
        {{ with .description }}<p class="style3">{{ . }}</p>{{ end }}
        {{ with .image }}
        <div id="image03" class="style2 image">
          {{ with $.Params.hero.interior.button }}<a href="{{ .link | default "#" | relURL }}" class="frame">{{ end }}
          {{ $heroImage := resources.Get . }}
          {{ with $heroImage }}
            {{ $processed := .Fill "1200x636 webp picture Center" }}
            <img src="{{ $processed.RelPermalink }}" alt="{{ $.Params.hero.interior.heading | plainify }}" loading="lazy">
          {{ end }}
          {{ with $.Params.hero.interior.button }}</a>{{ end }}
        </div>
        {{ end }}
        {{ with .gallery }}
        <div id="gallery02" class="style3 productGallery gallery">
          <div class="inner">
            <ul>
              {{ range $index, $item := . }}
               <li>
                <a href="{{ $item.link | default "#" | relURL }}" class="thumbnail n{{ printf "%02d" (add $index 1) }}"><span class="frame">
                  {{ $image := resources.Get $item.image }}
                  {{ with $image }}
                    {{ $filter := images.UnsharpMask .5 .5 0 }}
                    {{ $processed := $image.Filter $filter }}
                    {{ $final := $processed.Fill "568x568 webp picture Center" }}
                    <img src="{{ $final.RelPermalink }}" alt="{{ $item.alt }}" loading="lazy">
                  {{ end }}
                </span></a>
                <div class="caption">
                  <p>
                    <a class="no-underline hover:text-[#2ec0ff]" href="{{ $item.link | default "#" | relURL }}">{{ $item.caption }}</a>
                  </p>
                </div>
              </li>
              {{ end }}
            </ul>
          </div>
        </div>
        {{ end }}
        {{ with .button }}
        <ul id="buttons03" class="style2 buttons">
           <li>
            <a href="{{ .link | default "#" | relURL }}" class="button n01" role="button">
              <svg aria-labelledby="buttons03-icon-1-title">
                  <title id="buttons03-icon-1-title">{{ $.Params.hero.interior.button.text | plainify }}</title>
                  <use xlink:href="{{ "/icons.svg#arrow-right-light" | relURL }}"></use>
              </svg>
              <span class="label">{{ .text }}</span>
            </a>
          </li>
        </ul>
        {{ end }}
        <hr class="style3" data-visibility="desktop">
      </div>
      {{ end }}
    </div>
  </div>
</div>
<hr class="style2">
{{ end }}
