{{/*
  Reusable hero column partial
  Expects context with: .data (column data), .type (exterior/interior), .ids (map of element IDs)
*/}}
{{ $data := .data }}
{{ $type := .type }}
{{ $ids := .ids }}
{{ $isExterior := eq $type "exterior" }}
{{ $headingTag := cond $isExterior "h1" "h2" }}
{{ $instanceClass := cond $isExterior "instance-63" "instance-64" }}

<div>
  {{/* Heading */}}
  {{ with $data.button }}
    {{ printf "<%s class=\"text-component %s style-1\"><a href=\"%s\">%s</a></%s>" $headingTag $instanceClass (.link | default "#" | relURL) ($data.heading | safeHTML) $headingTag | safeHTML }}
  {{ end }}
  
  {{/* Description */}}
  {{ with $data.description }}
    {{ $descriptionInstance := cond $isExterior "instance-120" "instance-119" }}
    <p class="text-component {{ $descriptionInstance }} style-3 lg:min-h-[86px]">{{ . }}</p>
  {{ end }}
  
  {{/* Hero Image */}}
  {{ with $data.image }}
    {{ $imageInstance := cond $isExterior "instance-4" "instance-3" }}
    <div id="{{ $ids.image }}" class="image-component {{ $imageInstance }} style-2">
      {{ with $data.button }}<a href="{{ .link | default "#" | relURL }}" class="frame">{{ end }}
      {{ $heroImage := resources.Get . }}
      {{ if $heroImage }}
        {{/* Generate multiple sizes for responsive images */}}
        {{ $small := $heroImage.Fill "400x212 webp picture Center q85" }}
        {{ $medium := $heroImage.Fill "700x370 webp picture Center q85" }}
        {{ $large := $heroImage.Fill "900x476 webp picture Center q85" }}
        <img 
          src="{{ $large.RelPermalink }}" 
          srcset="{{ $small.RelPermalink }} 400w,
                  {{ $medium.RelPermalink }} 700w,
                  {{ $large.RelPermalink }} 900w"
          sizes="(max-width: 736px) 100vw, 50vw"
          alt="{{ $data.heading | plainify }}" 
          width="{{ $large.Width }}"
          height="{{ $large.Height }}"
          fetchpriority="high"
          loading="eager"
        >
      {{ else }}
        <img 
          src="/images/placeholder.jpg" 
          alt="{{ $data.heading | plainify }}"
          width="900"
          height="476"
          fetchpriority="high"
          loading="eager"
        >
      {{ end }}
      {{ with $data.button }}</a>{{ end }}
    </div>
  {{ end }}
  
  {{/* Gallery */}}
  {{ with $data.gallery }}
    {{ $galleryInstance := cond $isExterior "instance-3" "instance-2" }}
    <div id="{{ $ids.gallery }}" class="gallery-component {{ $galleryInstance }} style-3 productGallery">
      <div class="inner">
        <ul>
          {{ range $index, $item := . }}
          <li>
            <a href="{{ $item.link | default "#" | relURL }}" class="thumbnail n{{ printf "%02d" (add $index 1) }}">
              <span class="frame">
                {{ if $item.image }}
                  {{ $image := resources.Get $item.image }}
                  {{ if $image }}
                    {{ $filter := images.UnsharpMask .5 .5 0 }}
                    {{ $processed := $image.Filter $filter }}
                    {{/* Generate responsive sizes for thumbnails */}}
                    {{ $thumb120 := $processed.Fill "120x120 webp picture Center q85" }}
                    {{ $thumb240 := $processed.Fill "240x240 webp picture Center q85" }}
                    {{ $thumb350 := $processed.Fill "350x350 webp picture Center q85" }}
                    <img 
                      src="{{ $thumb350.RelPermalink }}" 
                      srcset="{{ $thumb120.RelPermalink }} 120w,
                              {{ $thumb240.RelPermalink }} 240w,
                              {{ $thumb350.RelPermalink }} 350w"
                      sizes="(max-width: 736px) 33vw, 115px"
                      alt="{{ $item.alt }}" 
                      width="{{ $thumb350.Width }}" 
                      height="{{ $thumb350.Height }}"
                      fetchpriority="high"
                      loading="eager"
                    >
                  {{ else }}
                    <img src="/images/placeholder-thumb.jpg" alt="{{ $item.alt }}" width="350" height="350" loading="eager">
                  {{ end }}
                {{ else }}
                  <img src="/images/placeholder-thumb.jpg" alt="{{ $item.alt }}" width="350" height="350" loading="eager">
                {{ end }}
              </span>
            </a>
            <div class="caption">
              <p>
                <a class="no-underline hover:text-[#2ec0ff]" href="{{ $item.link | default "#" | relURL }}">{{ $item.caption }}</a>
              </p>
            </div>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
  {{ end }}
  
  {{/* Button */}}
  {{ with $data.button }}
    {{ $buttonInstance := cond $isExterior "instance-11" "instance-3" }}
    <ul id="{{ $ids.button }}" class="buttons-component {{ $buttonInstance }} style-2">
      <li>
        <a href="{{ .link | default "#" | relURL }}" class="n01" role="button">
          <svg aria-labelledby="{{ $ids.button }}-icon-1-title">
            <title id="{{ $ids.button }}-icon-1-title">{{ .text | plainify }}</title>
            <use xlink:href="{{ "/icons.svg#arrow-right-light" | relURL }}"></use>
          </svg>
          <span class="label">{{ .text }}</span>
        </a>
      </li>
    </ul>
  {{ end }}
  
  {{/* Divider */}}
  {{ $dividerInstance := cond $isExterior "instance-2" "instance-1" }}
  {{ $dividerId := cond $isExterior "divider02" "divider01" }}
  <hr id="{{ $dividerId }}" class="divider-component {{ $dividerInstance }} style-3" data-visibility="desktop">
</div>
