{{/* --- Reviews Section --- */}}
{{ with .Params.reviews }}
<hr class="divider-component style-3">
<div id="container08" class="container-component instance-8 style-10 default">
  <div class="wrapper">
    <div class="inner">
      <hr class="divider-component style-3" data-visibility="desktop">
      <h2 class="text-component instance-reviews-heading style-1">{{ .heading }}</h2>
    </div>
  </div>
</div>
<div id="container02" class="container-component instance-2 style-1 columns">
  <div class="wrapper">
    <div class="inner">
      {{ $items := .items }}
      {{ $total := len $items }}
      {{ $perColumn := div (add $total 2) 3 }}
      
      {{ range $colIndex := (seq 3) }}
        {{ $start := mul (sub $colIndex 1) $perColumn }}
        {{ $nextEnd := mul $colIndex $perColumn }}
        {{ $end := $nextEnd }}
        {{ if gt $nextEnd $total }}
          {{ $end = $total }}
        {{ end }}
        
        <div>
          {{ range $index, $review := (first (sub $end $start) (after $start $items)) }}
            {{ if gt $index 0 }}
            <hr class="divider-component style-6 full">
            {{ end }}
            <div class="image-component style-1">
              <span class="frame">
                <img src="{{ "/stars.svg" | relURL }}" alt="Stars" loading="lazy">
              </span>
            </div>
            {{ with $review.heading }}<h2 class="text-component style-2">{{ . }}</h2>{{ end }}
            <p class="text-component style-3">
              <strong>{{ $review.title }}</strong><br />
              {{ $review.text  }}
            </p>
            <p class="text-component style-14">
              {{ $review.author }}
            </p>
          {{ end }}
        </div>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
