{{/* layouts/shortcodes/figureproc.html */}}
{{- $src := .Get "src" | default .Page.Params.image_body -}}
{{- $alt := .Get "alt" | default .Page.Params.image_body_alt | default "" -}}
{{- $id := .Get "id" | default "image09" -}}
{{- $instance := .Get "instance" | default "9" -}}
{{- $style := .Get "style" | default "5" -}}

{{- /* Normalize path */ -}}
{{- $path := strings.TrimSpace $src | strings.TrimPrefix "/" | strings.TrimPrefix "assets/" -}}

{{- /* Try to find image resource */ -}}
{{- $img := .Page.Resources.GetMatch $path -}}
{{- if not $img -}}
  {{- $img = resources.Get $path -}}
{{- end -}}

<hr class="divider-component instance-6 style-3" data-visibility="desktop">

{{- if not $img -}}
  {{- warnf "figureproc: image not found: %s" $src -}}
  <div id="{{ $id }}" class="image-component instance-{{ $instance }} style-{{ $style }}">
    <span class="frame"><img src="{{ $src | relURL }}" alt="{{ $alt }}" loading="lazy" decoding="async"></span>
  </div>
{{- else if ne $img.MediaType.MainType "image" -}}
  {{- warnf "figureproc: resource is not an image: %s" $path -}}
{{- else -}}
  {{- $processed := $img.Resize "1000x webp" -}}
  <div id="{{ $id }}" class="image-component instance-{{ $instance }} style-{{ $style }}">
    <span class="frame"><img src="{{ $processed.RelPermalink }}" alt="{{ $alt }}" width="{{ $processed.Width }}" height="{{ $processed.Height }}" loading="lazy" decoding="async"></span>
  </div>
{{- end -}}
